                * {
                    box-sizing: border-box;
                    margin: 0;
                }

                body {
                    /* overflow-x: hidden; */
                    background-color: black;
                    
                    
                }

                .container-fluid {
                    padding: 0;
                }

                .row {
                    margin-right: 0px;
                    margin-left: 0;
                }

                @font-face {
                    font-family: style1;
                    src: url(/字形/HanaMinB.ttf);
                }

                @font-face {
                    font-family: style2;
                    src: url(/字形/華康雅風體/華康雅風體W3.TTC);
                }

                .banner {
                    height: 100vh;
                    overflow: hidden;
                    position: relative;
                    background-color: #000;
                }

                .banner>img {
                    background-position: cover;
                    position: absolute;
                    animation: slide 10s infinite;
                    opacity: 0;
                }

                .banner>img:nth-child(2) {
                    animation-delay: 4s;
                }

                @keyframes slide {
                    40% {
                        opacity: 1;
                    }

                    60% {
                        opacity: 1;
                    }

                    80% {
                        opacity: 0;
                    }

                    80% {
                        transform: scale(1.1);
                    }
                }

                @media(max-width:576px) {
                    .banner>img {
                        height: 100vh;
                    }
                }

                .navbar-nav {
                    width: 100%;
                    justify-content: space-evenly;
                }

                .allrelative {
                    position: relative;
                    width: 100%;
                }

                .allen {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    z-index: 1;
                    transition: opacity .3s;
                    opacity: 1;
                    color: white;
                }

                .allch {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    z-index: 0;
                    transition: opacity .3s;
                    opacity: 0;
                    color: white;
                }

                /* .banner {
                    position: relative;
                }
                 */

                .navbar {
                    width: 100%;
                    background-color: rgba(88, 83, 83, 0.4);
                    z-index: 1;
                    /* position: absolute; */
                    left: 0;
                    bottom: 0;
                    position: sticky;
                    top: 0;
                }

                /* 關於雲道 */

                .story_row {
                    background-color: black;
                    position: relative;
                }

                #pic1 {
                    position: absolute;
                    bottom: 15%;
                    left: 23%;
                }

                #pic2 {
                    position: absolute;
                    bottom: 5%;
                    right: 25%;
                }

                .tab-pane {
                    height: 320px;
                }

                .tab-content {
                    text-align: center;
                    color: white;
                    width: 100%;
                    font-size: 18px;
                    font-family: style1;
                }

                #v-pills-tab {
                    font-family: style1;
                }

                .story_container {
                    text-align: center;
                    position: relative;
                    padding-right: 11%;
                }

                .nav-link-about {
                    width: 40px;
                    color: rgb(122, 122, 122);
                    font-size: 12px;
                    padding: .3rem 0.5rem;
                }

                .nav-link-about:hover {
                    transition: 0.5s;
                }

                .nav-pills .nav-link {
                    border-radius: 0;
                }

                .nav-pills .nav-link.active,
                .nav-pills .show>.nav-link {
                    background-color: black;
                    border-bottom: 1.5px solid snow;
                }

                .about-bottom {
                    display: flex;
                    align-items: center;
                    justify-items: center;
                }

                .tab-pane {
                    display: flex;
                    align-items: center;
                    width: 100%;
                }

                .about_col11 {
                    padding-left: 0px;
                    margin-top: 80px;
                }

                h1 {
                    font-size: 75px;
                    color: rgb(255, 255, 255);
                }

                @media(max-width:1024px) {
                    .story_container {
                        padding-right: 8%;
                    }
                }

                @media(max-width:576px) {
                    .story_container {
                        padding-right: 2%;
                    }

                    .about-bottom {
                        padding-left: 0px;
                    }

                    #pic1 {
                        bottom: 4%;
                        left: 9%;
                        width: 16%;
                    }

                    #pic2 {
                        bottom: 1%;
                        right: 5%;
                        width: 20%;
                    }
                }

                /* laisang-story */

                .laisang_row {
                    background-image: url(雲道圖片/賴桑圖片背景.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    height: 950px;
                    display: flex;
                    align-content: center;
                }

                .bookh1 {
                    font-size: 2.5vw;
                    color: white;
                    text-shadow: rgb(112, 109, 109) 0.1em 0.1em 0.2em;
                }

                .bookcentent {
                    text-shadow: rgb(112, 109, 109) 0.1em 0.1em 0.2em;
                }

                .booktext {
                    line-height: 30px;
                    font-size: 17px;
                    align-self: center;
                    color: black;
                }

                /*更改按鈕樣式*/

                .btn-primary {
                    background-color: #C7AC9E;
                    border-color: #C7AC9E;
                }

                .btn-primary:hover {
                    background-color: #C7AC9E;
                    border-color: #C7AC9E;
                }

                .btn.focus,
                .btn:focus {
                    outline: 0;
                    box-shadow: none;
                }

                .btn-primary.focus,
                .btn-primary:focus {
                    color: #fff;
                    background-color: #C7AC9E;
                    border-color: #C7AC9E;
                }

                .btn-primary:not(:disabled):not(.disabled).active,
                .btn-primary:not(:disabled):not(.disabled):active,
                .show>.btn-primary.dropdown-toggle {
                    background-color: #C7AC9E;
                    border-color: #C7AC9E;
                }

                .booktitle {
                    font-weight: 600;
                }

                .modal-header {
                    background-color: #C7AC9E;
                    color: white;
                    border-top-left-radius: 2rem;
                    border-top-right-radius: 2rem;
                }

                .modal-content {
                    border: 0;
                    border-radius: 2rem;
                }

                .btn-secondary {
                    color: #fff;
                    background-color: #C7AC9E;
                    border-color: white;
                }

                /* 咖啡製成*/

                #coffeemake {
                    width: 100%;
                    height: 280px;
                    background-color: white;
                    position: relative;
                }

                .coffeeprocess {
                    font-size: 3vw;
                    font-family: 'Segoe Script';
                    position: absolute;
                    left: 6%;
                    bottom: 35%;
                }

                .coffeemake-bg {
                    background-color: white;
                }

                .coffeemake-all {
                    height: 100%;
                    background-color: white;
                }

                .h01 {
                    color: red;
                }

                .h02 {
                    color: #DFA22D;
                }

                .h03 {
                    color: #66C5DF;
                }

                .h04 {
                    color: #945A27;
                }

                .left01 {
                    float: left;
                    clear: both;
                }

                .left02 {
                    float: left;
                    clear: both;
                }

                .left03 {
                    float: left;
                    clear: both;
                }

                .left04 {
                    float: left;
                    clear: both;
                }

                .right01 {
                    float: left;
                }

                .right02 {
                    float: left;
                    position: relative;
                }

                .right03 {
                    float: left;
                }

                .right04 {
                    float: left;
                }

                .text02pic {
                    position: absolute;
                    right: 15px;
                    top: 160px;
                }

                h4 {
                    font-weight: 600;
                }

                /* 菜單 */

                #menutab {
                    width: 100%;
                    height: 110px;
                    background-color: white;
                }

                .menubg {
                    width: 100%;
                    background-color: #1A1A1A;
                }

                .menu00 {
                    width: 100%;
                    color: white;
                    font-size: 40px;
                    background-color: #1A1A1A;
                    float: left;
                }

                .menu01 {
                    width: 100%;
                    color: white;
                    background-color: #1A1A1A;
                    font-size: 12px;
                    border: 2px solid black;
                }

                .menu02 {
                    width: 100%;
                    color: white;
                    background-color: #1A1A1A;
                    font-size: 12px;
                    border: 2px solid black;
                    border-top: 0;
                }

                .menu03 {
                    width: 100%;
                    color: white;
                    background-color: #1A1A1A;
                    font-size: 12px;
                    border: 2px solid black;
                    border-top: 0;
                }

                .meals02 {
                    padding-top: 7%;
                }

                .meals03 {
                    padding-top: 9%;
                }

                .meals04 {
                    padding-top: 4%;
                }

                .meals05 {
                    padding-top: 6%;
                }

                .menu04 {
                    width: 100%;
                    color: white;
                    background-color: #1A1A1A;
                    font-size: 12px;
                    border: 2px solid black;
                    border-top: 0;
                    border-bottom: 0;
                }

                .menu05 {
                    width: 100%;
                    color: white;
                    background-color: #1A1A1A;
                    font-size: 12px;
                    border: 2px solid black;
                    border-top: 0;
                    border-bottom: 0;
                }

                .menu06 {
                    width: 100%;
                    color: white;
                    background-color: #1A1A1A;
                    font-size: 12px;
                    border: 2px solid black;
                    border-top: 0;
                    border-bottom: 0;
                }

                .coffeeimg {
                    width: 100%;
                    height: 100%;
                    color: white;
                    background-color: #1A1A1A;
                    font-size: 12px;
                    border: 2px solid black;
                    border-top: 0;
                }

                /* 產品 */

                #productbg {
                    background-color: white;
                    position: relative;
                    height: 100%;
                }

                .coffeebeanpic {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }

                .productcentent {
                    padding-top: 12%;
                    padding-bottom: 10%;
                }

                .coffeebeans {
                    position: absolute;
                    top: 9%;
                    left: 6.5%;
                    font-size: 3vw;
                    font-family: 'Segoe Script';
                }

                .circlebg {
                    width: 180px;
                    height: 180px;
                    border-radius: 50%;
                    background-color: #FF6B31;
                    margin: 20px 0;
                    position: relative;
                }

                .beanspic1 {
                    position: absolute;
                    left: 20.5%;
                    top: -14%;
                    transform: rotate(13deg);
                }

                .beanspic2 {
                    position: absolute;
                    left: 20.5%;
                    top: -14%;
                    transform: rotate(13deg);
                }

                .beanspic3 {
                    position: absolute;
                    left: 20.5%;
                    top: -14%;
                    transform: rotate(13deg);
                }

                .beanspic4 {
                    position: absolute;
                    left: 20.5%;
                    top: -14%;
                    transform: rotate(13deg);
                }

                .beanspic5 {
                    position: absolute;
                    left: 20.5%;
                    top: -14%;
                    transform: rotate(13deg);
                }

                .beanspic6 {
                    position: absolute;
                    left: 20.5%;
                    top: -14%;
                    transform: rotate(13deg);
                }

                .beanspic1:hover {
                    transform: rotate(0deg);
                    transition: 0.2s;
                }

                .beanspic2:hover {
                    transform: rotate(0deg);
                    transition: 0.2s;
                }

                .beanspic3:hover {
                    transform: rotate(0deg);
                    transition: 0.2s;
                }

                .beanspic4:hover {
                    transform: rotate(0deg);
                    transition: 0.2s;
                }

                .beanspic5:hover {
                    transform: rotate(0deg);
                    transition: 0.2s;
                }

                .beanspic6:hover {
                    transform: rotate(0deg);
                    transition: 0.2s;
                }



                .beansname {
                    font-size: 21px;
                    /* font-weight: 600; */
                }

                .beansprice {
                    color: red;
                    font-size: 18px;
                    font-weight: 600;
                }

                .detailspos {
                    position: relative;
                }

                .details1 {
                    text-align: center;
                    position: absolute;
                    top: -60%;
                    width: 80%;
                    border-radius: 10px;
                    background-color: rgb(165, 46, 42);
                    color: white;
                    z-index: 1;
                    display: none;
                }

                .details2 {
                    text-align: center;
                    position: absolute;
                    top: -60%;
                    width: 80%;
                    border-radius: 10px;
                    background-color: rgb(153, 165, 42);
                    color: white;
                    z-index: 1;
                    display: none;
                }

                .details3 {
                    text-align: center;
                    position: absolute;
                    top: -60%;
                    width: 80%;
                    border-radius: 10px;
                    background-color: #BA542C;
                    color: white;
                    z-index: 1;
                    display: none;
                }

                .details4 {
                    text-align: center;
                    position: absolute;
                    bottom: -50%;
                    width: 80%;
                    border-radius: 10px;
                    color: white;
                    z-index: 1;
                    display: none;
                    background-color: #093B30;
                }

                .details5 {
                    text-align: center;
                    position: absolute;
                    bottom: -40%;
                    width: 80%;
                    border-radius: 10px;
                    color: white;
                    background-color: #B9763F;
                    z-index: 1;
                    display: none;
                }

                .details6 {
                    text-align: center;
                    position: absolute;
                    bottom: -40%;
                    width: 80%;
                    border-radius: 10px;
                    color: white;
                    background-color: #522f0e;

                    display: none;
                }

                /* 最新消息 */

                #news {

                    height: 300px;
                    background-size: cover;
                    background-image: url(/雲道圖片/tree3.jpg);
                    background-repeat: no-repeat;

                }

                .media {
                    box-shadow: rgb(112, 109, 109) 0.1em 0.1em 0.2em;
                }


                .media:hover>.newpc {
                    box-shadow: rgb(112, 109, 109) 0em 0em 0em;
                }

                .media:hover>.media-body {
                    text-shadow: rgb(112, 109, 109) 0.1em 0.1em 0.2em;
                }

                .newpc {
                    box-shadow: rgb(112, 109, 109) 0.1em 0.1em 0.2em;

                }



                .media-body {
                    font-size: 14px;
                    color: rgb(44, 44, 44);
                }


                h5 {
                    font-size: 14px;
                }

                /* ig輪播 */
          