                    * {
                        box-sizing: border-box;
                        margin: 0;
                    }
                    
                    body {
                        overflow-x: hidden;
                    }
                    
                    @font-face {
                        font-family: style1;
                        src: url(/字形/HanaMinB.ttf);
                    }
                    
                    @font-face {
                        font-family: style2;
                        src: url(/字形/華康雅風體/華康雅風體W3.TTC);
                    }
                    
                    .navbar-nav {
                        width: 100%;
                        justify-content: space-evenly;
                    }
                    
                    .allrelative {
                        position: relative;
                        width: 80px;
                    }
                    
                    .allen {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        z-index: 1;
                        color: white;
                        transition: opacity .3s;
                        opacity: 1;
                    }
                    
                    .allch {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        z-index: 0;
                        color: white;
                        transition: opacity .3s;
                        opacity: 0;
                    }
                    
                    .banner {
                        position: relative;
                    }
                    
                    .navbar {
                        width: 100%;
                        background-color: rgba(88, 83, 83, 0.4);
                        z-index: 1;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                    }
                    /* 關於雲道 */
                    
                    .story_row {
                        background-color: black;
                        position: relative;
                    }
                    
                    #pic1 {
                        position: absolute;
                        bottom: 15%;
                        left: 25%;
                    }
                    
                    #pic2 {
                        position: absolute;
                        bottom: 5%;
                        right: 20%;
                    }
                    
                    .tab-pane {
                        height: 330px;
                    }
                    
                    .tab-content {
                        text-align: center;
                        color: white;
                        width: 100%;
                        font-size: 18px;
                        font-family: style1;
                    }
                    
                    #v-pills-tab {
                        font-family: style1;
                    }
                    
                    .story_container {
                        text-align: center;
                        position: relative;
                    }
                    
                    .nav-link-about {
                        width: 40px;
                        color: rgb(122, 122, 122);
                        font-size: 12px;
                        padding: .3rem 0.5rem;
                    }
                    
                    .nav-link-about:hover {
                        transition: 0.5s;
                    }
                    
                    .nav-pills .nav-link {
                        border-radius: 0;
                    }
                    
                    .nav-pills .nav-link.active,
                    .nav-pills .show>.nav-link {
                        background-color: black;
                        border-bottom: 1.5px solid snow;
                    }
                    
                    .about-bottom {
                        display: flex;
                        align-items: center;
                        justify-items: center;
                    }
                    
                    .tab-pane {
                        display: flex;
                        align-items: center;
                        width: 100%;
                    }
                    
                    f .about_col11 {
                        padding-left: 0px;
                        margin-top: 80px;
                    }
                    
                    h1 {
                        font-size: 75px;
                        color: rgb(255, 255, 255);
                    }
                    
                    @media(min-width:576px) {
                        .about_col11 {
                            padding-right: 106px;
                        }
                    }
                    /* laisang-story */
                    
                    .laisang_row {
                        background-image: url(雲道圖片/賴桑圖片背景.jpg);
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 100vw;
                        height: 950px;
                        display: flex;
                        align-content: center;
                        margin-bottom: 150px;
                    }
                    
                    .booktext {
                        line-height: 30px;
                    }
                    /*更改按鈕樣式*/
                    
                    .btn-primary {
                        background-color: #C7AC9E;
                        border-color: #C7AC9E;
                    }
                    
                    .btn-primary:hover {
                        background-color: #C7AC9E;
                        border-color: #C7AC9E;
                    }
                    
                    .btn.focus,
                    .btn:focus {
                        outline: 0;
                        box-shadow: none;
                    }
                    
                    .btn-primary.focus,
                    .btn-primary:focus {
                        color: #fff;
                        background-color: #C7AC9E;
                        border-color: #C7AC9E;
                    }
                    
                    .btn-primary:not(:disabled):not(.disabled).active,
                    .btn-primary:not(:disabled):not(.disabled):active,
                    .show>.btn-primary.dropdown-toggle {
                        background-color: #C7AC9E;
                        border-color: #C7AC9E;
                    }
                    
                    .booktitle {
                        font-weight: 600;
                    }
                    
                    .coffeemake-all {
                        height: 100%;
                        background-color: white;
                    }
                    
                    .h01 {
                        color: red;
                    }
                    
                    .h02 {
                        color: #DFA22D;
                    }
                    
                    .h03 {
                        color: #66C5DF;
                    }
                    
                    .h04 {
                        color: #945A27;
                    }
                    
                    .left01 {
                        float: left;
                        clear: both;
                    }
                    
                    .left02 {
                        float: left;
                        clear: both;
                    }
                    
                    .left03 {
                        float: left;
                        clear: both;
                    }
                    
                    .left04 {
                        float: left;
                        clear: both;
                    }
                    
                    .right01 {
                        float: left;
                    }
                    
                    .right02 {
                        float: left;
                        position: relative;
                    }
                    
                    .right03 {
                        float: left;
                    }
                    
                    .right04 {
                        float: left;
                    }
                    
                    .text02pic {
                        position: absolute;
                        right: 15px;
                        top: 160px;
                    }
                    
                    h4 {
                        font-weight: 600;
                    }
                    /* 菜單 */
                    
                    .menubg {
                        height: 1000px;
                        width: 100%;
                        background-color: #2B2B2B;
                    }
                    
                    .menuall {
                        margin-top: 150px;
                    }
                    
                    .menu00 {
                        width: 100%;
                        color: white;
                        font-size: 40px;
                        background-color: #1A1A1A;
                        float: left;
                    }
                    
                    .menu01 {
                        width: 100%;
                        height: 100px;
                        color: white;
                        background-color: #1A1A1A;
                    }